@model HebrewLanguageLearning_Admin.Models.HLL_ApplicationModel
<div class="block-inner">
    <div class="block-inner">
        <h6 class="heading-hr">
            <i class="icon-spinner7"></i> Application Data <small class="display-block">All Application Data about the Language Learning</small>
        </h6>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label>Hebrew Application-1:</label>
                @Html.EditorFor(model => model.AppSentenceDynamicTextBox[0], new { htmlAttributes = new { @id = "AppSentenceDynamicTextBox", @class = "form-control", @placeholder = "Hebrew Application - 1" } })
                @Html.ValidationMessageFor(model => model.AppSentenceDynamicTextBox[0], "", new { @class = "text-danger" })
                <label id="AppSentenceDynamicTextBoxErrorMessage" class="text-danger" style="display:none;">Please Enter At least one definition</label>
            </div>
            <div class="col-md-3">
                <label>Picture/Video 1:</label>

                <div class="controls imgParent">
                    @Html.HiddenFor(h => h.VideoUrl[0], new { name = "VideoUrl1", id = "VideoUrl1" })
                    @Html.HiddenFor(h => h.ImgUrl[0], new { name = "ImgUrl1", id = "ImgUrl1" })
                    @Html.TextBoxFor(p => p.Imgfile, null, new { data_val = "false", type = "file", @class = "input-file fileUploadImgAndVideo", name = "file", id = "1" })
                    <span class="fileupload"><span class="icon-upload2"></span>Choose File</span>
                    @Html.ValidationMessageFor(n => n.ImgUrl[0], null, new { @class = "text_danger" })
                    <div class="col-md-2 output" id="output1"></div>
                </div>


            </div>
            <div class="col-md-3">
                <label>Sound 1:</label>

                <div class="controls imgParent">

                    @Html.TextBoxFor(p => p.SoundUrl[0], null, new { data_val = "false", type = "file", @class = "input-file SoundfileMultiple", name = "Soundfile", id = "1" })
                    <span class="fileupload"><span class="icon-upload2"></span>Choose File</span>
                    @Html.ValidationMessageFor(n => n.Soundfile, null, new { @class = "text_danger", @style = "color: red !important;" })
                    <div class="col-md-2 output" id="outputMultiple1"></div>
                    <label id="fileUploaderErrorMessage" class="text-danger" style="display:none;color:red;margin-top: 30px;">Please Upload Sound file in MP3 format</label>

                </div>

            </div>
            <div class="col-md-3">
                <label>Correct Answer-1:</label>
                <br />
                <a data-toggle="modal" class="btn btn-success" role="button" href="#form_modal_Definition" onclick="SetCorrectAnswer(1)">  Edit</a>

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label>Hebrew Application-2:</label>
                @Html.EditorFor(model => model.AppSentenceDynamicTextBox[1], new { htmlAttributes = new { @id = "AppSentenceDynamicTextBox", @class = "form-control", @placeholder = "Hebrew Application - 2" } })
                @Html.ValidationMessageFor(model => model.AppSentenceDynamicTextBox[0], "", new { @class = "text-danger" })
                <label id="AppSentenceDynamicTextBoxErrorMessage" class="text-danger" style="display:none;">Please Enter At least one Appication</label>
            </div>
            <div class="col-md-3">
                <label>Picture/Video 2:</label>

                <div class="controls imgParent">

                    @Html.HiddenFor(h => h.VideoUrl[1], new { name = "VideoUrl2", id = "VideoUrl2" })
                    @Html.HiddenFor(h => h.ImgUrl[1], new { name = "ImgUrl2", id = "ImgUrl2" })
                    @Html.TextBoxFor(p => p.Imgfile, null, new { data_val = "false", type = "file", @class = "input-file fileUploadImgAndVideo", name = "file", id = "2" })
                    <span class="fileupload"><span class="icon-upload2"></span>Choose File</span>

                    @Html.ValidationMessageFor(n => n.ImgUrl[1], null, new { @class = "text_danger" })
                    <div class="col-md-2 output" id="output2"></div>
                </div>

            </div>
            <div class="col-md-3">
                <label>Sound 2:</label>

                <div class="controls imgParent">
                    @*@Html.HiddenFor(h => h.Soundfile[1], new { name = "SoundUrl", id = "SoundUrl" })*@
                    @Html.TextBoxFor(p => p.SoundUrl[1], null, new { data_val = "false", type = "file", @class = "input-file SoundfileMultiple", name = "Soundfile", id = "2" })
                    <span class="fileupload"><span class="icon-upload2"></span>Choose File</span>
                    @Html.ValidationMessageFor(n => n.Soundfile, null, new { @class = "text_danger", @style = "color: red !important;" })
                    <div class="col-md-2 output" id="outputMultiple2"></div>
                    <label id="fileUploaderErrorMessage" class="text-danger" style="display:none;color:red;margin-top: 30px;">Please Upload Sound file in MP3 format</label>

                </div>

            </div>
            <div class="col-md-3">
                <label>Correct Answer-2:</label>
                <br />
                <a data-toggle="modal" class="btn btn-success" role="button" href="#form_modal_Definition" onclick="SetCorrectAnswer(2)">  Edit</a>
                @*<input type="button" value="Edit" onclick="" class="btn btn-success">*@
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label>Hebrew Application-3:</label>
                @Html.EditorFor(model => model.AppSentenceDynamicTextBox[2], new { htmlAttributes = new { @id = "AppSentenceDynamicTextBox", @class = "form-control", @placeholder = "Hebrew Application - 3" } })
                @Html.ValidationMessageFor(model => model.AppSentenceDynamicTextBox[0], "", new { @class = "text-danger" })
                <label id="AppSentenceDynamicTextBoxErrorMessage" class="text-danger" style="display:none;">Please Enter At least one definition</label>
            </div>
            <div class="col-md-3">
                <label>Picture/Video 3:</label>

                <div class="controls imgParent">
                    @Html.HiddenFor(h => h.VideoUrl[2], new { name = "VideoUrl3", id = "VideoUrl3" })
                    @Html.HiddenFor(h => h.ImgUrl[2], new { name = "ImgUrl3", id = "ImgUrl3" })
                    @Html.TextBoxFor(p => p.Imgfile, null, new { data_val = "false", type = "file", @class = "input-file fileUploadImgAndVideo", name = "file", id = "3" })
                    <span class="fileupload"><span class="icon-upload2"></span>Choose File</span>
                    @Html.ValidationMessageFor(n => n.ImgUrl[2], null, new { @class = "text_danger" })
                    <div class="col-md-2 output" id="output3"></div>
                </div>

            </div>
            <div class="col-md-3">
                <label>Sound 3:</label>

                <div class="controls imgParent">
                    @*@Html.HiddenFor(h => h.SoundUrl[2], new { name = "SoundUrl", id = "SoundUrl" })*@
                    @Html.TextBoxFor(p => p.SoundUrl[2], null, new { data_val = "false", type = "file", @class = "input-file SoundfileMultiple", name = "Soundfile", id = "3" })
                    <span class="fileupload"><span class="icon-upload2"></span>Choose File</span>
                    @Html.ValidationMessageFor(n => n.Soundfile, null, new { @class = "text_danger", @style = "color: red !important;" })
                    <div class="col-md-2 output" id="outputMultiple3"></div>
                    <label id="fileUploaderErrorMessage" class="text-danger" style="display:none;color:red;margin-top: 30px;">Please Upload Sound file in MP3 format</label>

                </div>

            </div>
            <div class="col-md-3">
                <label>Correct Answer-3:</label>
                <br />
                <a data-toggle="modal" class="btn btn-success" role="button" href="#form_modal_Definition" onclick="SetCorrectAnswer(3)">  Edit</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label>Hebrew Application-4:</label>
                @Html.EditorFor(model => model.AppSentenceDynamicTextBox[3], new { htmlAttributes = new { @id = "AppSentenceDynamicTextBox", @class = "form-control", @placeholder = "Hebrew Application - 4" } })
                @Html.ValidationMessageFor(model => model.AppSentenceDynamicTextBox[0], "", new { @class = "text-danger" })
                <label id="AppSentenceDynamicTextBoxErrorMessage" class="text-danger" style="display:none;">Please Enter At least one definition</label>
            </div>
            <div class="col-md-3">
                <label>Picture/Video 4:</label>

                <div class="controls imgParent">
                    @Html.HiddenFor(h => h.VideoUrl[3], new { name = "VideoUrl4", id = "VideoUrl4" })
                    @Html.HiddenFor(h => h.ImgUrl[3], new { name = "ImgUrl4", id = "ImgUrl4" })
                    @Html.TextBoxFor(p => p.ImgUrl[3], null, new { data_val = "false", type = "file", @class = "input-file fileUploadImgAndVideo", name = "file", id = "4" })
                    <span class="fileupload"><span class="icon-upload2"></span>Choose File</span>
                    @Html.ValidationMessageFor(n => n.ImgUrl[3], null, new { @class = "text_danger" })
                    <div class="col-md-2 output" id="output4"></div>
                </div>

            </div>
            <div class="col-md-3">
                <label>Sound 4:</label>
                <div class="controls imgParent">
                    @*@Html.HiddenFor(h => h.SoundUrl[3], new { name = "SoundUrl", id = "SoundUrl" })*@
                    @Html.TextBoxFor(p => p.SoundUrl[3], null, new { data_val = "false", type = "file", @class = "input-file SoundfileMultiple", name = "Soundfile", id = "4" })
                    <span class="fileupload"><span class="icon-upload2"></span>Choose File</span>
                    @Html.ValidationMessageFor(n => n.Soundfile, null, new { @class = "text_danger", @style = "color: red !important;" })
                    <div class="col-md-2 output" id="outputMultiple4"></div>
                    <label id="fileUploaderErrorMessage" class="text-danger" style="display:none;color:red;margin-top: 30px;">Please Upload Sound file in MP3 format</label>
                </div>
            </div>
            <div class="col-md-3">
                <label>Correct Answer-4:</label>
                <br />
                <a data-toggle="modal" class="btn btn-success" role="button" href="#form_modal_Definition" onclick="SetCorrectAnswer(4)">  Edit</a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row" id="TextBoxContainer">
        </div>
    </div>
    <input type="button" value="+ Add Hebrew Application" onclick="AddTextBox()" class="btn btn-info">
</div>
