@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'198a3cae-53d1-48a3-a391-72c9d582cdfc'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>

<body>
  

   
   
    <!-- Navbar -->                   
    <!-- Page container -->
    <div class="page-container">


        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="~/Content/images/logo.png" alt="Biblingo"></a>
                <a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons">
                    <span class="sr-only">Toggle navbar</span>
                    <i class="icon-grid3"></i>
                </button>
                <button type="button" class="navbar-toggle offcanvas">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="icon-paragraph-justify2"></i>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-people"></i>
                        <span class="label label-default">2</span>
                    </a>
                    <div class="popup dropdown-menu dropdown-menu-right">
                        <div class="popup-header">
                            <a href="#" class="pull-left"><i class="icon-spinner7"></i></a>
                            <span>Activity</span>
                            <a href="#" class="pull-right"><i class="icon-paragraph-justify"></i></a>
                        </div>
                        <ul class="activity">
                            <li>
                                <i class="icon-cart-checkout text-success"></i>
                                <div>
                                    <a href="#">Eugene</a> ordered 2 copies of <a href="#">OEM license</a>
                                    <span>14 minutes ago</span>
                                </div>
                            </li>
                            <li>
                                <i class="icon-heart text-danger"></i>
                                <div>
                                    Your <a href="#">latest post</a> was liked by <a href="#">Audrey Mall</a>
                                    <span>35 minutes ago</span>
                                </div>
                            </li>
                            <li>
                                <i class="icon-checkmark3 text-success"></i>
                                <div>
                                    Mail server was updated. See <a href="#">changelog</a>
                                    <span>About 2 hours ago</span>
                                </div>
                            </li>
                            <li>
                                <i class="icon-paragraph-justify2 text-warning"></i>
                                <div>
                                    There are <a href="#">6 new tasks</a> waiting for you. Don't forget!
                                    <span>About 3 hours ago</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-paragraph-justify2"></i>
                        <span class="label label-default">6</span>
                    </a>
                    <div class="popup dropdown-menu dropdown-menu-right">
                        <div class="popup-header">
                            <a href="#" class="pull-left"><i class="icon-spinner7"></i></a>
                            <span>Messages</span>
                            <a href="#" class="pull-right"><i class="icon-new-tab"></i></a>
                        </div>
                        <ul class="popup-messages">
                            <li class="unread">
                                <a href="#">
                                    <img src="http://placehold.it/300" alt="" class="user-face">
                                    <strong>Eugene Kopyov <i class="icon-attachment2"></i></strong>
                                    <span>Aliquam interdum convallis massa...</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://placehold.it/300" alt="" class="user-face">
                                    <strong>Jason Goldsmith <i class="icon-attachment2"></i></strong>
                                    <span>Aliquam interdum convallis massa...</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://placehold.it/300" alt="" class="user-face">
                                    <strong>Angel Novator</strong>
                                    <span>Aliquam interdum convallis massa...</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://placehold.it/300" alt="" class="user-face">
                                    <strong>Monica Bloomberg</strong>
                                    <span>Aliquam interdum convallis massa...</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://placehold.it/300" alt="" class="user-face">
                                    <strong>Patrick Winsleur</strong>
                                    <span>Aliquam interdum convallis massa...</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon-grid"></i>
                    </a>
                    <div class="popup dropdown-menu dropdown-menu-right">
                        <div class="popup-header">
                            <a href="#" class="pull-left"><i class="icon-spinner7"></i></a>
                            <span>Tasks list</span>
                            <a href="#" class="pull-right"><i class="icon-new-tab"></i></a>
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th class="text-center">Priority</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="status status-success item-before"></span> <a href="#">Frontpage fixes</a></td>
                                    <td><span class="text-smaller text-semibold">Bugs</span></td>
                                    <td class="text-center"><span class="label label-success">87%</span></td>
                                </tr>
                                <tr>
                                    <td><span class="status status-danger item-before"></span> <a href="#">CSS compilation</a></td>
                                    <td><span class="text-smaller text-semibold">Bugs</span></td>
                                    <td class="text-center"><span class="label label-danger">18%</span></td>
                                </tr>
                                <tr>
                                    <td><span class="status status-info item-before"></span> <a href="#">Responsive layout changes</a></td>
                                    <td><span class="text-smaller text-semibold">Layout</span></td>
                                    <td class="text-center"><span class="label label-info">52%</span></td>
                                </tr>
                                <tr>
                                    <td><span class="status status-success item-before"></span> <a href="#">Add categories filter</a></td>
                                    <td><span class="text-smaller text-semibold">Content</span></td>
                                    <td class="text-center"><span class="label label-success">100%</span></td>
                                </tr>
                                <tr>
                                    <td><span class="status status-success item-before"></span> <a href="#">Media grid padding issue</a></td>
                                    <td><span class="text-smaller text-semibold">Bugs</span></td>
                                    <td class="text-center"><span class="label label-success">100%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
@if (Request.IsAuthenticated)
{
                <li class="user dropdown">
                    @*@Html.Partial("_LoginPartial")*@
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="http://placehold.it/300">
                        <span>@Html.Raw(User.Identity.GetUserName()) </span>

                            <i class="caret"></i>
</a>
                    <ul class="dropdown-menu dropdown-menu-right icons-right">
                        <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                        <li><a href="#"><i class="icon-bubble4"></i> Messages</a></li>
                        <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="icon-exit"></i> Logout</a></li>

                       @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                        {
                        @Html.AntiForgeryToken()
                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-exit"></i> Logout</a></li>
                        }

                    </ul>
                </li>
}
            </ul>
        </div>
        <!-- /navbar -->
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-content">
                <!-- User dropdown -->
                <div class="user-menu dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="http://placehold.it/300">
                        <div class="user-info">
                            Madison Gartner <span>Web Developer</span>
                        </div>
                    </a>
                    <div class="popup dropdown-menu dropdown-menu-right">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="http://placehold.it/300">
                                <div class="thumb-options">
                                    <span>
                                        <a href="#" class="btn btn-icon btn-success"><i class="icon-pencil"></i></a>
                                        <a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
                                    </span>
                                </div>
                            </div>

                            <div class="caption text-center">
                                <h6>Madison Gartner <small>Front end developer</small></h6>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="icon-pencil3 text-muted"></i> My posts <span class="label label-success">289</span></li>
                            <li class="list-group-item"><i class="icon-people text-muted"></i> Users online <span class="label label-danger">892</span></li>
                            <li class="list-group-item"><i class="icon-stats2 text-muted"></i> Reports <span class="label label-primary">92</span></li>
                            <li class="list-group-item"><i class="icon-stack text-muted"></i> Balance <h5 class="pull-right text-danger">$45.389</h5></li>
                        </ul>
                    </div>
                </div>
                <!-- /user dropdown -->
                <!-- Main navigation -->
                <ul class="navigation">
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")"><a href=@Url.Action("Index", "Home")><span>Dashboard</span> <i class="icon-screen2"></i></a></li>
                    <li>
                        <a href="#"><span>Students</span> <i class="icon-paragraph-justify2"></i></a>
                        <ul>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "StudentsInfo"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")">@Html.ActionLink("Students List", "Index", "StudentsInfo")
                              
                            </li>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "StudentsInfo"  && ViewContext.RouteData.Values["Action"].ToString() == "Create"? "active" : "")">@Html.ActionLink("Add Student", "Create", "StudentsInfo")
                           
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><span>Custom Dictionary</span> <i class="icon-grid"></i></a>
                        <ul>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "DictionaryEntries"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")" >@Html.ActionLink("Dictionary Entries List", "Index", "DictionaryEntries")</li>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "DictionaryEntries"  && ViewContext.RouteData.Values["Action"].ToString() == "Create"? "active" : "")" >@Html.ActionLink("Add Entry", "Create", "DictionaryEntries")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span>Tag</span> <i class="icon-copy"></i></a>
                        <ul>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Pictures"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")">@Html.ActionLink("Pictures", "Index", "Pictures")</li>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Definition"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")">@Html.ActionLink("Definition", "Index", "Definition")</li>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Example"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")">@Html.ActionLink("Example", "Index", "Example")</li>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "SemanticDomain"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")">@Html.ActionLink("Semantic Domain", "Index", "SemanticDomain")</li>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "DictionaryEntries"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")">@Html.ActionLink("Dictionaries", "Index", "DictionaryEntries")</li>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Sound"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")">@Html.ActionLink("Sound", "Index", "Sound")<span class="label label-danger">New</span></li>
                          
                        </ul>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Topics"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")">
                        <a href="@Url.Action("Index", "Topics")"><span>Add Topics</span> <i class="icon-numbered-list"></i></a>
                       
                    </li>
                    <li>
                        <a href="charts.html"><span>Learn Language</span> <i class="icon-bars"></i></a>
                        <ul>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Vocabulary"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")">@Html.ActionLink("Vocabulary", "Index", "Vocabulary")</li>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Grammer"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")">@Html.ActionLink("Grammer", "Index", "Grammer")</li>
                            
                        </ul>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Application"  && ViewContext.RouteData.Values["Action"].ToString() == "Index"? "active" : "")">

                        <a href="@Url.Action("Index", "Application")"><span>Application</span> <i class="icon-warning"></i></a>
                        
                    </li>
                 
                </ul>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /sidebar -->
        <!-- Login wrapper -->
        <div class="page-content">
            @RenderBody()

        </div>

            <!-- /login wrapper -->
            <!-- Footer -->
            <div class="footer Setmargin clearfix">
                <div class="pull-left">&copy; 2017. Hebrew Language Learning <a href="#">Biblingo</a></div>
                <div class="pull-right icons-group">
                    <a href="#"><i class="icon-screen2"></i></a>
                    <a href="#"><i class="icon-balance"></i></a>
                    <a href="#"><i class="icon-cog3"></i></a>
                </div>
            </div>
            <!-- /footer -->
        </div>
    
    <div id="default_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="modeltitle" class="modal-title">Important Message !!</h4>
                </div>
                <div class="modal-body with-padding">
                    @*<h5 class="text-error">Text in a modal</h5>*@
                    <h5 id="modelMessage">Please Select Only Image file like GIF, PNG, JPG, JPEG</h5>
                    @*<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
  

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>

</html>
