@model IEnumerable<HebrewLanguageLearning_Admin.DBContext.HLL_Application>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <div class="page-title">
        <h3>Application List <small>List of saved application</small></h3>
    </div>

    <div id="reportrange" class="range">
        <div class="visible-xs header-element-toggle">
            <a class="btn btn-primary btn-icon"><i class="icon-calendar"></i></a>
        </div>
        <div class="date-range"><i>2</i> <b><i>Jun</i> <i>2017</i></b><em> - </em><i>1</i> <b><i>Jul</i> <i>2017</i></b></div>
        <span class="label label-danger">9</span>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="panel panel-default">
    <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i> Application List</h6></div>
    <div class="datatable">
        <table class="table">
            <thead>
                <tr>
                    <th>Lesson</th>
                    <th>Hebrew Application</th>
                    <th>Picture/video</th>
                    <th>Sound</th>
                    <th>Correct answers</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LessonId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sentence)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sentence)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImgUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VideoUrl)
                        </td>
                        <td>
                           
                      
                            @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ApplicationId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationId })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

