@model HebrewLanguageLearning_Admin.Models.HLL_DictionaryModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="page-title">
        <h3>Dictionary Data <small>List of saved dictionary</small></h3>
    </div>
    <div id="reportrange" class="range">
        <div class="visible-xs header-element-toggle">
            <a class="btn btn-primary btn-icon"><i class="icon-calendar"></i></a>
        </div>
        <div class="date-range"><i>2</i> <b><i>Jun</i> <i>2017</i></b><em> - </em><i>1</i> <b><i>Jul</i> <i>2017</i></b></div>
        <span class="label label-danger">9</span>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label> Dictionary English: @Html.DisplayFor(m => m.DicEnglish)</label>

        </div>

        <div class="col-md-6">
            <label> Dictionary Hebrew: @Html.DisplayFor(m => m.DicEnglish)</label>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i> Dictionary Data</h6></div>
    <div class="datatable">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Language Learning Definition
                    </th>
                    <th>
                        Picture/Videos
                    </th>

                    <th>
                        Semantic Domain(s)
                    </th>
                    <th>
                        Example(s)
                    </th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.LngLrngDefinitionList != null)
                {
                    foreach (var item in Model.LngLrngDefinitionList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @foreach (var itemData in item.PictureList)
                                {
                                    @Html.Raw(itemData.Title.ToString() + ",");
                                }
                            </td>
                            <td>
                                @foreach (var itemData in item.SemanticDomainsList)
                                {
                                    @Html.Raw(itemData.Title.ToString() + ",");
                                }
                            </td>
                            <td>
                                @foreach (var itemData in item.ExampleList)
                                {
                                    @Html.Raw(itemData.Title.ToString() + ",");
                                }

                            </td>
                            <td>
                                <a data-toggle="modal" class="btn btn-info" role="button" href="#form_modal_Definition" onclick="SetLLDefinitionModelData('@Html.DisplayFor(modelItem => item.LanLernDefId)')">  Add Content</a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i> Dictionary Data</h6></div>
    <div class="datatable">
        <table class="table">
            <thead>
                <tr>

                    <th>
                        Dictionary Definition
                    </th>

                    <th>
                        Picture/Videos
                    </th>

                    <th>
                        Semantic Domain(s)
                    </th>
                    <th>
                        Example(s)
                    </th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DefinitionList != null)
                {
                    foreach (var item in Model.DefinitionList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @foreach (var itemData in item.PictureList)
                                {
                                    @Html.Raw(itemData.Title.ToString() + ",");
                                }
                            </td>
                            <td>
                                @foreach (var itemData in item.SemanticDomainsList)
                                {
                                    @Html.Raw(itemData.Title.ToString() + ",");
                                }
                            </td>
                            <td>
                                @foreach (var itemData in item.ExampleList)
                                {
                                    @Html.Raw(itemData.Title.ToString() + ",");
                                }

                            </td>
                            <td>
                                <a data-toggle="modal" class="btn btn-info" role="button" href="#form_modal_Definition" onclick="SetDefinitionModelData('@Html.DisplayFor(modelItem => item.DefinitionId)')">  Add Content</a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<!-- Form modal -->
<div id="ModalDiv"></div>
<!-- /form modal -->
<script type="text/javascript">
    function SetDefinitionModelData(DefinitionId) {
        $('#ModalDiv').html("<div id='form_modal_Definition' class='modal fade' tabindex='-1' role='dialog'></div>");
        $('#form_modal_Definition').load('@Url.Action("GetDefinitionView", "Definition")?DefinitionId=' + DefinitionId + '&Next=0');
    }
    function SetLLDefinitionModelData(LLDefinitionId) {
        $('#ModalDiv').html("<div id='form_modal_Definition' class='modal fade' tabindex='-1' role='dialog'></div>");
        $('#form_modal_Definition').load('@Url.Action("GetLLDefinitionView", "Definition")?LLDefinitionId=' + LLDefinitionId + '&Next=0');
    }
    
  
</script>