@model IEnumerable<HebrewLanguageLearning_Admin.DBContext.HLL_DictionaryEntries>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="page-title">
        <h3>Dictionary List <small>List of saved dictionary</small></h3>
    </div>

    <div id="reportrange" class="range">
        <div class="visible-xs header-element-toggle">
            <a class="btn btn-primary btn-icon"><i class="icon-calendar"></i></a>
        </div>
        <div class="date-range"><i>2</i> <b><i>Jun</i> <i>2017</i></b><em> - </em><i>1</i> <b><i>Jul</i> <i>2017</i></b></div>
        <span class="label label-danger">9</span>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel panel-default">
    <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i> Dictionary List</h6></div>
    <div class="datatable">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Dictionary English
                    </th>
                    <th>
                        Dictionary Hebrew
                    </th>
                    <th>
                        Sound
                    </th>
                    <th>
                        Language Learning Definition
                    </th>

                    <th>
                        Definition
                    </th>
                    <th>
                        Picture/Videos
                    </th>
                    <th>
                        Semantic Domain(s)
                    </th>
                    <th>
                        Example(s)
                    </th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DicEnglish)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DicHebrew)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count_TagPictures)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count_TagVerbalDefinition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count_TagExample)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count_TagExample)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count_TagExample)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count_TagExample)
                        </td>
                        <td>
                            @Html.ActionLink("Edit Entry", "Edit", new { id = item.DictionaryEntriesId }) |
                            @Html.ActionLink("New Entry", "Edit", new { id = item.DictionaryEntriesId }) |
                            @Html.ActionLink("Edit Picture", "Details", new { id = item.DictionaryEntriesId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.DictionaryEntriesId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
